/* Highlight */
.highlight {
    background-color: #f0e0ff;
    outline: 5px dashed #8060ffaa;
    outline-offset: -5px;
    box-shadow: 0px 0px 6px 3px #6040ff90;
    transition: 0.24s;
    transition-property: filter, outline, box-shadow;
}
.highlight:hover {
    filter: saturate(200%) contrast(120%);
    outline: 5px solid #8060ff;
    box-shadow: 0px 0px 6px 5px #6040ff;
    z-index: 999999;
}

/* Icon */
.icon {
    background-size: cover;
    display: block;
    margin: auto;
}

/* Navigator */
.navigator-viewer > .view {
    height: 100%;
}

/* Dropdown */
.dropdown-container {
    display: block;
    position: relative;
}
.dropdown-container > .dropdown {
    background-color: #fcfcfc;
    pointer-events: none;
    position: absolute;
    z-index: 99999;
    padding-block: 6px;
    border: 1px solid #00000010;
    border-radius: 10px;
    box-shadow: 2px 2px 9px #00000030;
    opacity: 0;
    transition: 0.12s;
}
.dropdown-container:focus-within > .dropdown.open {
    pointer-events: initial;
    opacity: 1;
}
.dropdown-container > .dropdown > .dropdown-row:hover {
    background-color: #f0f0f0;
}
.dropdown-container > .dropdown > .dropdown-row > button {
    font-size: calc(var(--fs-s) - 1px);
    height: 100%;
    padding-inline: 9px;
    cursor: default;
}

/* Resizer */
.resizer {
    background-color: #a2bdffe0;
    opacity: 0;
    position: absolute;
    z-index: 99;
    border-radius: 50px;
    box-shadow: 0px 0px 3px #a2bdffe0;
    transition: 0.2s;
}
.resizer:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.2s;
}
.resizer.active {
    background-color: #8cacffe0;
    opacity: 1;
}
.resizer.horizontal-resizer {
    width: 7px;
    height: 100%;
    top: 0px;
    cursor: ew-resize;
}
.resizer.horizontal-resizer[data-resizer-position="left"] {
    left: -3.5px;
}
.resizer.horizontal-resizer[data-resizer-position="right"] {
    right: -3.5px;
}
.resizer.vertical-resizer {
    width: 100%;
    height: 7px;
    left: 0px;
    cursor: ns-resize;
}
.resizer.vertical-resizer[data-resizer-position="top"] {
    top: -3.5px
}
.resizer.vertical-resizer[data-resizer-position="bottom"] {
    bottom: -3.5px;
}

/* Tooltip */
.tooltip {
    background-color: #101010c0;
    color: #fafafa;
    font-size: var(--fs-xs);
    letter-spacing: 0.2px;
    position: absolute;
    z-index: 99999;
    padding: 5px 6px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px #00000090;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.tooltip.active {
    opacity: 1;
}
.tooltip.pointing-tooltip::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
}
.tooltip.pointing-tooltip[data-tooltip-position="top"]::after {
    top: 32px;
    left: calc(50% - 5px);
    border-bottom: none;
    border-top: 8px solid #101010c0;
}
.tooltip.pointing-tooltip[data-tooltip-position="bottom"]::after {
    top: -8px;
    left: calc(50% - 5px);
    border-top: none;
    border-bottom: 8px solid #101010c0;
}


