/* =====================
 *  Special screens
 * ===================== */

/* Fatal error */
#error-fatal {
    background-color: white;
    text-align: center;
    z-index: 999999;
    padding: 40vh 30vw;
}
#error-fatal .details {
    color: #aaa;
    font: 12px var(--ff-mono);
    margin-top: 48px;
}

/* Loading screen */
#loading {
    background-color: white;
    text-align: center;
    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 36vh 0px;
}
#loading > .flex {
    justify-content: center;
}
#loading > .flex img {
    display: inline-block;
    width: 60px;
}
#loading > .flex h2 {
    font-size: var(--fs-xxl);
    font-weight: 400;
    display: inline-block;
}
#loading > p {
    margin-top: 55px;
}
#loading .progress {
    background-color: #e0e0e0;
    width: 160px;
    height: 9px;
    margin: 15px auto;
    border-radius: 9px;
}
#loading .progress .progress-bar {
    background-color: var(--clr-theme-1);
    width: 0px;
    height: inherit;
    border-radius: inherit;
    transition: 0.14s;
}

/* =====================
 *  App
 * ===================== */

#app {
    background-color: #fafafa;
    display: flex;
    height: 100vh;
    user-select: none;
}

/* =====================
 *  App navigator
 * ===================== */
#app > .navigator-menu {
    background-color: white;
    width: 70px;
    z-index: 9999;
    border-right: 1px solid #e0e0e0;
}
#app > .navigator-menu button {
    background: transparent;
    color: #555555;
    width: 100%;
    height: 70px;
    opacity: 0.55;
    transition: 0.1s;
    transition-property: opacity;
    border-right: 2px solid transparent;
}
#app > .navigator-menu button:hover,
#app > .navigator-menu button:focus-visible {
    opacity: 0.8;
}
#app > .navigator-menu button.active {
    color: var(--clr-theme-1);
    opacity: 1;
}
#app > .navigator-menu button .label {
    font-size: 12px;
}

/* =====================
 *  App viewer
 * ===================== */
#app > .navigator-viewer {
    flex-grow: 1;
}

/* =====================
 *  Editor
 * ===================== */

.editor {
    z-index: 0;
    height: 100%;
    flex-direction: column;
}
.editor .main {
    flex-grow: 1;
}

/* =====================
 *  Editor top bar
 * ===================== */

.editor-top-bar {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding-inline: 4px;
    align-items: center;
    flex-basis: 3.2rem;
}
.editor-top-bar > .container button {
    background: transparent;
    width: 40px;
    height: 40px;
    margin-inline: 6px;
    border-radius: 50%;
    transition: 0.1s;
}
.editor-top-bar > .container button:hover {
    background-color: #fafafa;
}
.editor-top-bar button.menu {
    font-size: 22px;
}
.editor-top-bar button.settings img {
    height: 55%;
    margin-top: 15%;
}
.editor-top-bar > .main {
    overflow: hidden;
}
.editor-top-bar > .main .text-field.title {
    background-color: transparent;
    font-size: 18px;
    display: block;
    width: 133px;
    max-width: 50vw;
    padding: 4px 12px 2px;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    transition: 0.12s;
    transition-property: border-bottom-color;
}
.editor-top-bar > .main .text-field.title:hover {
    border-bottom-color: #f3f3f3;
}
.editor-top-bar > .main .text-field.title:focus {
    border-bottom-color: #e0e0e0;
}

/* =====================
 *  Editor panel
 * ===================== */

.editor-panel {
    background-color: white;
    z-index: 9999;
    box-shadow: 0px 1.5px 5px -1px #00000060;
}

/* =====================
 *  Editor menu
 * ===================== */

.editor-menu {
    height: 2rem;
}
.editor-menu > .main .navigator-menu {
    align-items: flex-end;
    padding-inline: 6px;
    height: 100%;
}
.editor-menu > .main .navigator-menu > .navigator-button {
    background-color: transparent;
    font-size: var(--fs-s);
    display: block;
    padding: 4px 12px;
    transition: 0.1s;
}
.editor-menu > .main .navigator-menu > .navigator-button:hover {
    background-color: #f2f2f2;
}
.editor-menu > .main .navigator-menu > .navigator-button:active {
    background-color: #e4d8ff;
}
.editor-menu > .main .active-indicator {
    background-color: var(--clr-theme-1);
    width: 0px;
    height: 2px;
    position: relative;
    top: -2px;
    transition: 0.2s;
}

/* =====================
 *  Editor controls
 * ===================== */

.editor-controls {
    height: 32px;
    border-top: 1px solid #dddddd;
}
.editor-controls .fixed {
    margin: 6px 0px;
    border-left: 1px solid #dddddd;
}

/* =====================
 *  Editor view
 * ===================== */

.editor-view {
    height: calc(100vh - 3.6rem - 32px);
}

/* =====================
 *  Editor side bar
 * ===================== */

.editor-side-bar {
    background-color: white;
    width: 22rem;
    flex-shrink: 0;
    min-width: 14rem;
    max-width: calc(100vw - 500px);
    position: relative;
    left: 0px;
    z-index: 998;
    border-right: 1px solid #e0e0e0;
    transition: 0.1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

/* =====================
 *  Editor content
 * ===================== */

.editor-content {
    position: relative;
    width: calc(100% - 22rem);
}

/* =====================
 *  Home view
 * ===================== */

.view-home .header {
    background-color: white;
    height: 70px;
    padding: 15px 36px 15px 30px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 1px 5px #00000048;
    align-items: stretch;
}
.view-home .header .logo {
    width: 40px;
    flex-shrink: 1;
}
.view-home .header .search input {
    background-color: #fafafa;
    width: calc(100% - 55px);
    max-width: 600px;
    height: 100%;
    margin: 0px 36px 0px 24px;
    padding: 0px 20px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px #00000060;
}
.view-home .header .search input:focus {
    background-color: white;
    box-shadow: 0px 2px 5px #00000090;
}
.view-home .header .new .tooltip-builder {
    height: 100%;
}
.view-home .header .new button {
    background-color: white;
    font-size: var(--fs-l);
    width: 40px;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #00000060;
}
.view-home .header .new button:hover {
    box-shadow: 0px 2px 5px #00000090;
}
.view-home .main {
    grid-template-columns: auto 300px;
    grid-template-rows: 200px auto;
    gap: 30px;
    height: calc(100vh - 70px);
    padding: 30px;
}
.view-home .main > div h3 {
    font-weight: normal;
    opacity: 0.3;
    transition: 0.1s;
}
.view-home .main > div:hover h3 {
    opacity: 0.6;
}
.view-home .special {
    grid-row: 1 / 3;
    grid-column: 2;
}


