/* =====================
 *  Reset
 * ===================== */

*, *::before, *::after {
    font: inherit;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    outline: none;
}
html, body {
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, li {
    overflow-wrap: break-word;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
a {
    color: inherit;
}
img {
    max-width: 100%;
}
button, input[type='button'], input[type='submit'] {
    background: transparent;
    cursor: pointer;
}

/* =====================
 *  Variables
 * ===================== */

:root {
    /* Colors */
    --clr-light: #fafafa;
    --clr-theme-1: #5a42f7;
    --clr-theme-2: #2e323b;
    --clr-text: #121212;

    /* Font sizes */
    --fs-xxs: 0.67rem;
    --fs-xs: 0.75rem;
    --fs-s: 0.9rem;
    --fs-m: 1rem;
    --fs-l: 1.24rem;
    --fs-xl: 1.55rem;
    --fs-xxl: 3rem;

    /* Font families */
    --ff-sans: 'calibri', 'arial', sans-serif;
    --ff-mono: 'consolas', monospace;
}

/* =====================
 *  Others
 * ===================== */

/* Scrollbar */
::-webkit-scrollbar {
    background: inherit;
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #2e323b;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3e424b;
}
::-webkit-scrollbar-corner {
    background: inherit;
}

/* Selection */
::selection {
    background-color: #b1b6fb;
    color: unset;
}
::-moz-selection {
    background-color: #b1b6fb;
    color: unset;
}

/* =====================
 *  Defaults
 * ===================== */

* {
    font-family: 'calibri', sans-serif;
}

body {
    overflow-x: hidden;
}

h1 { font-size: var(--fs-xl) }
h2 { font-size: var(--fs-l) }
h3 { font-size: var(--fs-m) }
h4 { font-size: var(--fs-s) }
h5 { font-size: var(--fs-xs) }
h6 { font-size: var(--fs-xxs) }
small { font-size: var(--fs-xs) }
img { pointer-events: none }

:focus-visible {
    opacity: 1;
    outline: 2px solid #5540ffac;
    outline-offset: -2px;
}


