/* =====================
 *  Special screens
 * ===================== */

/* Fatal error */
#error-fatal {
    background-color: white;
    text-align: center;
    z-index: 999999;
    padding: 40vh 30vw;
}
#error-fatal .details {
    color: #aaa;
    font: 12px var(--ff-mono);
    margin-top: 48px;
}

/* Loading screen */
#loading {
    background-color: white;
    text-align: center;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 36vh 0px;
}
#loading > .flex {
    justify-content: center;
}
#loading > .flex img {
    display: inline-block;
    width: 60px;
}
#loading > .flex h2 {
    font-size: var(--fs-xxl);
    font-weight: 400;
    display: inline-block;
}
#loading > p {
    margin-top: 55px;
}
#loading .progress {
    background-color: #e0e0e0;
    width: 160px;
    height: 9px;
    margin: 15px auto;
    border-radius: 9px;
}
#loading .progress .progress-bar {
    background-color: var(--clr-sub-2);
    width: 0px;
    height: inherit;
    border-radius: inherit;
    transition: 0.1s;
}

/* =====================
 *  App
 * ===================== */

#app {
    height: 100vh;
}

/* =====================
 *  Editor
 * ===================== */

#editor {
    z-index: 0;
}

/* =====================
 *  Editor panel
 * ===================== */

#editor-panel {
    background-color: white;
    box-shadow: 0px 0px 6px 3px #00000060;
}

/* =====================
 *  Editor menu
 * ===================== */

#editor-menu {
    height: 3.6rem;
    align-items: center;
    flex-basis: content;
}
#editor-menu button.nav-open {
    background: transparent;
    height: 60%;
    margin: calc(3.6rem * 0.2) 1rem;
}
#editor-menu button.nav-open img {
    height: 100%;
}
#editor-menu input {
    background-color: transparent;
    font-size: var(--fs-l);
    text-align: right;
    min-width: 24rem;
    flex-grow: 1;
    margin: 0px 24px 0px auto;
    padding: 0.3em 6px;
    border-bottom: 2px solid transparent;
    border-radius: 3px;
    opacity: 0.8;
}
#editor-menu input:hover {
    opacity: 1;
    cursor: default;
}
#editor-menu input:focus {
    opacity: 1;
    cursor: text;
}

/* =====================
 *  Editor controls
 * ===================== */

#editor-controls {
    height: 2.4rem;
    align-items: center;
    flex-basis: content;
    border-top: 1px solid #cccccc;
}


