/* =====================
 *  Special screens
 * ===================== */

/* Fatal error */
#error-fatal {
    background-color: white;
    text-align: center;
    z-index: 999999;
    padding: 40vh 30vw;
}
#error-fatal .details {
    color: #aaa;
    font: 12px var(--ff-mono);
    margin-top: 48px;
}

/* Loading screen */
#loading {
    background-color: white;
    text-align: center;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 36vh 0px;
}
#loading > .flex {
    justify-content: center;
}
#loading > .flex img {
    display: inline-block;
    width: 60px;
}
#loading > .flex h2 {
    font-size: var(--fs-xxl);
    font-weight: 400;
    display: inline-block;
}
#loading > p {
    margin-top: 55px;
}
#loading .progress {
    background-color: #e0e0e0;
    width: 160px;
    height: 9px;
    margin: 15px auto;
    border-radius: 9px;
}
#loading .progress .progress-bar {
    background-color: var(--clr-sub-2);
    width: 0px;
    height: inherit;
    border-radius: inherit;
    transition: 0.14s;
}

/* =====================
 *  App
 * ===================== */

#app {
    background-color: #fafafa;
    height: 100vh;
    user-select: none;
}

/* =====================
 *  Editor
 * ===================== */

#editor {
    z-index: 0;
    height: 100%;
}

/* =====================
 *  Editor panel
 * ===================== */

#editor-panel {
    background-color: white;
    z-index: 9999;
    box-shadow: 0px 0px 6px 3px #00000060;
}

/* =====================
 *  Editor menu
 * ===================== */

#editor-menu {
    height: 3.6rem;
    align-items: center;
    flex-basis: content;
}
#editor-menu > *:not(.section) {
    flex-shrink: 0;
}
#editor-menu > #home-button {
    background: transparent;
    height: 60%;
    margin: calc(3.6rem * 0.2) 10px calc(3.6rem * 0.2) 15px;
}
#editor-menu > #home-button img {
    height: 100%;
}
#editor-menu > #settings-button {
    background: transparent;
    width: 2rem;
    height: 2rem;
    margin: calc(3.6rem * 0.2) 20px calc(3.6rem * 0.2) 15px;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 0.7;
}
#editor-menu > #settings-button:hover,
#editor-menu > #settings-button:focus {
    opacity: 0.9;
    box-shadow: 0px 2px 5px #000000a0;
}
#editor-menu > #settings-button img {
    height: 70%;
    margin-top: 15%;
}
#editor-menu > .section {
    flex-grow: 1;
    overflow: hidden;
}
#editor-menu .navigator-menu {
    display: inline-block;
}
#editor-menu .navigator-menu > .navigator-button {
    background-color: transparent;
    font-size: var(--fs-s);
    margin-top: 2px;
    padding: 4px 12px;
    transition: 0.1s;
}
#editor-menu .navigator-menu > .navigator-button:hover,
#editor-menu .navigator-menu > .navigator-button:focus {
    background-color: #f2f2f2;
}
#editor-menu .navigator-menu > .navigator-button:active {
    background-color: #e4d8ff;
}
#editor-menu input {
    background-color: transparent;
    font-size: 18px;
    display: block;
    width: 161px;
    max-width: 100%;
    margin: 9px 0px 0px;
    padding: 0px 6px 0px 12px;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    transition: 0.2s;
    transition-property: border-bottom-color;
}
#editor-menu input:hover {
    border-bottom-color: #f3f3f3;
}
#editor-menu input:focus {
    border-bottom-color: #e0e0e0;
}
#editor-menu .active-indicator {
    background-color: var(--clr-sub-2);
    width: 0px;
    height: 2px;
    position: relative;
    top: -2px;
    transition: 0.2s;
}

/* =====================
 *  Editor controls
 * ===================== */

#editor-controls {
    height: 32px;
    align-items: center;
    flex-basis: content;
    border-top: 1px solid #dddddd;
}

/* =====================
 *  Editor view
 * ===================== */

#editor-view {
    height: calc(100vh - 3.6rem - 32px);
}

/* =====================
 *  Editor activity bar
 * ===================== */

#editor-activity-bar {
    background-color: white;
    width: 55px;
    flex-shrink: 0;
    z-index: 999;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

/* =====================
 *  Editor side bar
 * ===================== */

#editor-side-bar {
    background-color: #fefefe;
    width: 22rem;
    flex-shrink: 0;
    min-width: 14rem;
    max-width: calc(100vw - 450px);
    position: relative;
    left: 0px;
    z-index: 998;
    border-top: 1px solid #e0e0e0;
    box-shadow: 6px 3px 6px -2px #00000048;
}

/* =====================
 *  Editor content
 * ===================== */

#editor-content {
    position: relative;
    width: calc(100% - 22rem);
    flex-grow: 1;
}


