/* General */
.flex {
    display: flex;
}
.flex > .grow {
    flex-grow: 1;
}
.grid {
    display: grid;
}
.table-cell {
    display: table-cell;
}
.unselectable {
    user-select: none;
}
.uninteractable {
    user-select: none;
    pointer-events: none;
}
.hidden {
    display: none;
}
.visually-hidden {
    visibility: hidden;
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 0px;
    height: 0px;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Opacity */
.opacity-60 {
    opacity: 0.6;
}
.opacity-70 {
    opacity: 0.7;
}
.opacity-80 {
    opacity: 0.8;
}

/* Button related */
button[class*='opacity-']:hover, button[class*='opacity-']:focus {
    opacity: 1;
}


